@page "/detailsEmployee"
@page "/detailsEmployee/{id:int}"
@inject IEmployeeService _employeeService
@inject IRequestService _requestService 
@inject IDialogService DialogService
@inject NavigationManager NavigationManager

<PageTitle>SPG - szczegóły pracownika</PageTitle>

<h3>Pracownik @employee.Name @employee.Surname</h3>

 <table class="table">
     
        <tr>
            <th><a class="nav-link">Imię i Nazwisko</a></th>
            <th><a class="nav-link">Prawo wyk. zawodu</a></th>
            <th><a class="nav-link">Telefon</a></th>
            <th><a class="nav-link">Hasło</a></th>

        </tr>
        <tr>
            <td>@employee.Name @employee.Surname</td>
            <td>@employee.LicenseNumber</td>
            <td>@employee.PhoneNumber</td>
            <td>@employee.Password</td>
        <MudButton Variant="Variant.Outlined" Color="Color.Secondary" OnClick="OnButtonClickedEdit">Edytuj</MudButton>
        <MudButton Variant="Variant.Outlined" Color="Color.Error" OnClick="OnButtonClicked">Usuń</MudButton>

        </tr>
</table>
   

    <br />
    <a href="@($"/allEmployees")">Cofnij</a>


@code {
    [Parameter]
    public int Id { get; set; }

    EmployeeModel employee = new();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        employee = await _employeeService.GetEmployeeById(Id);
    }

    private async Task EmployeeDeleted()
    {
        employee.Id = Id;
        employee.Active = false;
        await _employeeService.DeleteEmployee(employee);
        
    }
    private async void OnButtonClicked()
    {
        string state = "";
        bool? result = await DialogService.ShowMessageBox(
            "Usuwasz obiekt",
            "Czy na pewno chcesz usunąć?",
            yesText: "TAK-USUŃ!", cancelText: "ANULUJ");
        state = result == null ? "0" : "1";
        StateHasChanged();
        if (result == true)
        {
            await EmployeeDeleted();
            NavigationManager.NavigateTo("/allEmployees");
        }
    }
    private void OnButtonClickedEdit()
    {
         NavigationManager.NavigateTo($"/editEmployee/{Id}");
    }
}
