@page "/addRequestMud"
@using System.Globalization


<h3>Dodaj prośby grafikowe</h3>

<MudSwipeArea OnSwipe="@OnSwipe">
    <MudDatePicker PickerVariant="PickerVariant.Static" Date="@(DateTime.Today.AddDays(1))" @bind-PickerMonth="@_pickerMonth" />
</MudSwipeArea>

<MudSelect T="string" @bind-Value="@Change" Label="Zmiana:" AnchorOrigin="Origin.BottomCenter">
    <MudSelectItem Value=@("D")>Dzień</MudSelectItem>
    <MudSelectItem Value="@("N")">Noc</MudSelectItem>
    <MudSelectItem Value="@("A")">Cały dzień</MudSelectItem>
</MudSelect>
<MudSelect T="string" @bind-Value="@TypeRequest" Label="Typ prośby:" AnchorOrigin="Origin.BottomCenter">
    <MudSelectItem Value=@("W")>Praca</MudSelectItem>
    <MudSelectItem Value="@("F")">Wolne</MudSelectItem>
</MudSelect>




@code {
    RequestModel request = new();
    public string Change { get; set; }
    public string TypeRequest { get; set; }
    public DateTime DayIndisposition { get; set; }

    DateTime? _pickerMonth = DateTime.Now;

    public void OnSwipe(SwipeDirection direction)
    {
        if (direction == SwipeDirection.LeftToRight)
        {
            _pickerMonth = _pickerMonth.Value.AddMonths(-1);
            StateHasChanged();
        }
        else if (direction == SwipeDirection.RightToLeft)
        {
            _pickerMonth = _pickerMonth.Value.AddMonths(1);
            StateHasChanged();
        }
    }

    
}
