@page "/allRequest1"
@inject IRequestService _requestService
@inject IEmployeeService _employeeService 
@inject NavigationManager NavigationManager
@*
<AuthorizeView>
    <Authorized>
<div>
<h3>Prośby grafikowe</h3>

<MudButton Variant="Variant.Filled" Color="Color.Secondary" OnClick="OnButtonClickedBack">Dodaj nową prośbę</MudButton>
</div>
@if(requests == null)
{
    <p><em>Loading...</em></p>
}
else {
    <MudTable Items="@requests" Hover="true" SortLabel="Sort By">
    <HeaderContent>
            <MudTh>Dzień niedostępności</MudTh>
            <MudTh>Zmiana</MudTh>
            <MudTh>Typ prośby</MudTh>
            <MudTh>Pracownik</MudTh>
    </HeaderContent>
    <RowTemplate >
            <MudTd DataLabel="Dzień niedostępności">@context.DayIndisposition.ToShortDateString()</MudTd>
        <MudTd DataLabel="Zmiana">@context.Change</MudTd>
        <MudTd DataLabel="Typ prośby">@context.TypeRequest</MudTd>
        <MudTd DataLabel="Pracownik">@context.EmployeeName</MudTd>
    </RowTemplate>
</MudTable>
}
    </Authorized>
    <NotAuthorized>
        <p>Dostęp tylko dla zalgowanych</p>
    </NotAuthorized>
</AuthorizeView>*@

@code {
      List<RequestModel> requests = new();


    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        requests = await _requestService.GetRequests();

    }
    void OnButtonClickedBack()
    {
        NavigationManager.NavigateTo("/addRequestMud");
    }


}
