@page "/allRequest"
@inject IRequestService _requestService



<h3>Prośby grafikowe</h3>
@if(requests == null)
{
    <p><em>Loading...</em></p>
}
else {
<p>
    <table class="table">
        <tr>
            <th><a class="nav-link">Dzień niedostępności</a></th>
            <th><a class="nav-link">Zmiana</a></th>
            <th><a class="nav-link">Typ prośby</a></th>
        </tr>


        @foreach (var r in requests)
        {
            <tr>
                <td>@r.DayIndisposition</td>
                <td>@r.Change</td>
                <td>@r.TypeRequest</td>
                <button class="btn btn-primiary"><a href="@($"/detailsRequest/{r.Id}")"><i class="oi oi-document"></i></a></button>
                <button class="btn btn-primiary"><a href="@($"/editRequest/{r.Id}")"><i class="oi oi-pencil"></i></a></button>

            </tr>
        }
        <br />
    </table>
</p>
}

@code {
    List<RequestModel> requests = new();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        requests = await _requestService.GetRequests();
    }


}


