@page "/detailsRequest"
@page "/detailsRequest/{id:int}"
@inject IRequestService _requestService
@inject NavigationManager NavigationManager


<h3>DetailsRequest</h3>


<h3>Prośba @request.DayIndisposition </h3>
@if (request == null)
{
    <p><em>Loading...</em></p>
}
else{
<table class="table">
    <tr>
        <th><a class="nav-link">Data</a></th>
        <th><a class="nav-link">Zmiana</a></th>
        <th><a class="nav-link">Typ prośby</a></th>

    </tr>
    <tr>
        <td>@request.DayIndisposition</td>
        <td>@request.Change</td>
        <td>@request.TypeRequest</td>
            <button class="btn btn-primiary"><a href="@($"/editRequest/{request.Id}")"><i class="oi oi-pencil"></i></a></button>

    </tr>
    <br />
        <MudButton Variant="Variant.Filled" Color="Color.Transparent" OnClick="OnButtonClickedBack">Cofnij</MudButton>
    </table>
}

@code {
    [Parameter]
    public int Id { get; set; }

    RequestModel request = new();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        request = await _requestService.GetRequestById(Id);
    }
    void OnButtonClickedBack()
    {
        NavigationManager.NavigateTo("/allRequest");
    }
}

