@page "/editRequest"
@page "/editRequest/{id:int}"
@inject IRequestService _requestService


<h3>EditRequest</h3>

<EditForm Model="@result" OnValidSubmit="@OnInitializedAsync">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <br />
    <td>Data: @request.DayIndisposition</td>
    <InputDate id="change" @bind-Value="result.DayIndisposition" required />
    <br />
    <td>Zmiana:</td>
    <label>
        <InputSelect @bind-Value="result.Change">
            <option value="@request.Change">Wybierz...</option>
            <option value="D">Dzień</option>
            <option value="N">Noc</option>
            <option value="A">Cały dzień</option>
        </InputSelect>
    </label>
    <td>Typ prośby</td>
    <label>
        <InputSelect @bind-Value="result.TypeRequest">
            <option value="@request.TypeRequest">Wybier...</option>
            <option value="W">Praca</option>
            <option value="H">Wolne</option>
        </InputSelect>
    </label>

    <br />
    <br />
    <button type="submit" @onclick="RequestEdit">Zatwierdź zmiany</button>

</EditForm>


@code {
    [Parameter]
    public int Id { get; set; }

    RequestModel request = new();
    RequestModel result = new();

    protected override async Task OnInitializedAsync()
    {
        base.OnInitialized();
        request = await _requestService.GetRequestById(Id);
    }

    private async Task RequestEdit()
    {
        result.Id = Id;
        result.Active = request.Active;
        await _requestService.EditRequest(result);
    }

}

