@page "/myRequest"
@attribute [Authorize]
@inject IRequestService _requestService

<h3>Moje prośby grafikowe </h3>
@*<AuthorizeView>
    <Authorized>*@
        <div>
            <h3>Prośby grafikowe - @data.ToShortDateString() </h3>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th><a class="nav-link">Data</a></th>
                    <th><a class="nav-link">Typ prośby</a></th>
                    <th><a class="nav-link">Zmiana</a></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var e in Elements)
                {
                    <tr>
                        <td>@e.DayIndisposition</td>
                        <td>@e.TypeRequest</td>
                        <td>@e.Change</td>
                        <button class="btn btn-primiary"><a href="@($"/editRequest/{e.Id}")"><i class="oi oi-pencil"></i></a></button>
                    </tr>
                }
            </tbody>
        </table>
@*    </Authorized>
    <NotAuthorized>
        <p>Dostęp tylko dla zalogowanych</p>
    </NotAuthorized>
</AuthorizeView>*@
@code {
    List<RequestModel> Elements = new List<RequestModel>();
    bool _filterOpen = false;
    DateTime data = DateTime.Now;

    protected override async Task OnInitializedAsync()
    {
        var input = await _requestService.GetRequests();
        foreach(var i in input)
        {
            if(i.EmployeeId == 1) Elements.Add(i);
        }
    }
    void OpenFilter()
    {
        _filterOpen = true;
    }
}
